<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="event">{{event.name}}</ion-title>
    <ion-buttons end>
      <ion-toggle color="secondary"
      [(ngModel)]="participate" 
      (ngModelChange)="setParticipation()">
      </ion-toggle>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="event" top>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="eventAvatarUrl">
      </ion-avatar>
      <h2>{{event.name}}</h2>
      <p>{{event.start | date:'EEEE, d MMM y, H:mm'}}</p>
      <button ion-button icon-left clear small item-end *ngIf="event.owner == userId" (click)="editEvent()">
        <ion-icon name="create"></ion-icon>
        <div>Edit</div>
      </button>
    </ion-item>
    <img *ngIf="fileUploaded" [src]="fileUploaded.url" (press)="pressFileUploaded(fileUploaded)">
    <ion-card-content>
      <p><strong>{{event.place}}</strong> {{event.description}}</p>
      <ion-item *ngIf="!fileUploaded">
          <div *ngIf="currentUpload">
            <div class="progress">
              <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
            </div>
            <div class="progress-outer">
              <div class="progress-inner" [style.width]="currentUpload?.progress + '%'">
                  {{currentUpload?.name}} | {{currentUpload?.progress}}%
              </div>
            </div>
          </div>
          <ion-item *ngIf="event.owner == userId">
            <label><ion-note><ion-icon name="add"> </ion-icon> Add an image</ion-note></label>
            <input type="file" (change)="detectFiles($event)" id="file-input" style="opacity: 0" #fileInp>
          </ion-item>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <div padding>
    <ion-segment [(ngModel)]="eventTab">
      <ion-segment-button value="participants">
        Participants
      </ion-segment-button>
      <ion-segment-button value="comments">
        Comments
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="eventTab">
    <ion-list *ngSwitchCase="'participants'">
      <ion-item *ngFor="let participant of participants">
        <ion-avatar *ngIf="participant.photoURL" item-start>
          <img [src]="participant.photoURL">
        </ion-avatar>
        <ion-avatar *ngIf="!participant.photoURL" item-start>
          <img src="https://s3.amazonaws.com/wll-community-production/images/no-avatar.png">
        </ion-avatar>
        <h2>{{participant.displayName}}</h2>
        <p>{{participant.email}}</p>
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'comments'">
      <div *ngFor="let comment of comments | async; let last = last;" [ngClass]="{ 'comment-bottom-margin' : last }">
        <ion-item *ngIf="comment.user" (press)="pressComment(comment)">
          <ion-avatar *ngIf="comment.user.photoURL" item-start>
            <img [src]="comment.user.photoURL">
          </ion-avatar>
          <ion-avatar *ngIf="!comment.user.photoURL" item-start>
            <img src="https://s3.amazonaws.com/wll-community-production/images/no-avatar.png">
          </ion-avatar>
          <h2>{{comment.user.displayName}} <span class="dot-separator"></span> {{comment.createdAt | timeAgo}}</h2>
          <p>{{comment.text}}</p>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <form>
    <ion-card *ngIf="enableCommentInput" class="add-comment-box">
      <div>
        <input class="add-comment-input" autocomplete="false" [(ngModel)]="newComment" #comment='ngModel' tabindex="1" placeholder="Add a comment" name="comment" minlength="3" maxlength="200" required autofocus>
        <button ion-button color="dark" clear (click)='createComment()' [disabled]="!comment.valid" tabindex="2" type="button" class="add-comment-button"><ion-icon name="checkmark"></ion-icon></button>
      </div>
    </ion-card>
  </form>

  <ion-fab right bottom *ngIf="eventTab == 'comments' && !enableCommentInput">
    <button ion-fab color="secondary" (click)="enableCommentInput = true"><ion-icon name="chatboxes"></ion-icon></button>
  </ion-fab>

</ion-content>