<div *ngIf="auth.user | async; then authenticated else guest"></div>

<ng-template #guest>
  <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input [(ngModel)]="email" matInput placeholder="email" type="email" required>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="password" matInput placeholder="password" type="password" required>
        </mat-form-field>
        <p *ngIf="error">{{error}}</p>
        <button (click)="signIn(email,password)" mat-raised-button color="primary">Login</button>
      </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #authenticated>
  <p>Already logged in</p>
</ng-template>