<div class="row">
    <div class="col s12" *ngIf="auth.user | async; then authenticated else guest"></div>
</div>

<ng-template #guest>
  <div class="row">
    <div class="input-field col s5">
      <input [(ngModel)]="email" id="email" type="email" class="validate" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field col s5">
      <input id="password" [(ngModel)]="password" type="password" class="validate" required>
      <label for="password">Password</label>
    </div>
    <div class="input-field col s2">
        <button (click)="signIn(email,password)" class="waves-effect waves-light btn">Login</button>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1 card-panel white-text red darken-1" *ngIf="error">{{error}}</div>
  </div>
</ng-template>

<ng-template #authenticated>
  <p>Already logged in</p>
</ng-template>