<div *ngIf="auth.user | async; then authenticated else guest"></div>

<ng-template #guest>
  <mat-card>
    <mat-card-title>Triathlon Club</mat-card-title>
    <mat-card-subtitle>Sign 
      <span *ngIf="enableSignUp">Up</span>
      <span *ngIf="!enableSignUp">In</span>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <input [(ngModel)]="email" matInput placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field *ngIf="enableSignUp">
        <input [(ngModel)]="name" matInput placeholder="Name" type="text" required>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="password" matInput placeholder="Password" type="password" required>
      </mat-form-field>
      <p *ngIf="error">{{error}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!enableSignUp" (click)="signIn(email,password)" mat-raised-button color="primary">Sign in</button>
      <button *ngIf="!enableSignUp" (click)="enableSignUp = true" mat-button> I don't have an account</button>
      <button *ngIf="enableSignUp" (click)="signUp(email,password,name)" mat-raised-button color="primary">Create an account</button>
      <button *ngIf="enableSignUp" (click)="enableSignUp = false" mat-button> Back to login</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #authenticated>
  <p>Already logged in</p>
</ng-template>