<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="/assets/imgs/{{event.discipline}}.png">
    </ion-avatar>
    <h2>{{event.name}}</h2>
    <p>{{event.start | date:'EEEE, d MMM y, H:mm'}}</p>
    <ion-toggle right top color="primary"
      [checked]="participate"
      (click)="setParticipation(!participate)">
      </ion-toggle>
  </ion-item>
  <ion-card-content>
    <p><strong>{{event.place}}</strong> {{event.description}}</p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button (click)="goToEventDetails()" ion-button icon-left clear small>
        <ion-icon name="people"></ion-icon>
        <div>{{numberOfParticipants}} participants</div>
      </button>
    </ion-col>
    <ion-col>
      <button (click)="goToEventDetails()" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{numberOfComments}} comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button ion-button icon-left clear small color="danger" (click)="deleteEvent(event?.id)">
        <ion-icon name="trash"></ion-icon>
        <div>Delete</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>