/* You can add global styles to this file, and also import other style files */

/* Angular-material: Including a theme is required to apply all of the core and theme styles to your application */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed !important;
} 