/* You can add global styles to this file, and also import other style files */

/* Angular-material: Including a theme is required to apply all of the core and theme styles to your application */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 700, 300, 900);
$accent:  mat-palette($mat-deep-orange, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($theme);

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fafafa;
}

.main-container {
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.custom-toolbar {
    padding: 0 !important;
    height: 48px !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.top-buttom-padding {
    padding: 6px 0 6px 0 !important;
}

.fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed !important;
}

.mat-ink-bar {
    background-color:rgba(250, 250, 250, 1) !important;
}

.mat-tab-link {
    opacity:1 !important;
}